body{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 16x;
    line-height: 20px;
}

header{
    background-color: #000000;
    padding: 1em 0;
}

header h1{
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100; 
    display: inline-block;
    position: relative;
    bottom: 30px;
}

nav{
    background-color: #6da9ed;
    margin-bottom: 2em;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    width: 16.3%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.5em 0.4em;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.3);
 
}

nav ul li a.activo{
    background-color: rgba(0,0,0,0.3);
 
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 0.5em 0;
    margin-top: 2em;
    text-align: center;
}


.holder{
    width: 960px;
    margin: auto;
}

h2{
    color: #2e64a1;
    font-weight: 400;
//**    margin: 0 0 0 1em;**//
}

.left{
    float: left;
}

.right{
    float: right;
}

/* Inicio del Main */
.homeing{
    margin-bottom: 1.5em;
}


.bienvenidos, .testimonios{
    box-sizing: border-box;
}

.bienvenidos{
    width: 75%;
    padding-right: 2em;
    background-color: aqua; 
}

.testimonios{
    width: 25%;
    background-color: blanchedalmond;
}

.testimonio{
    background-color: #ccc;
    padding: 1em;
}

